//Primary Colors
$brightBlue: hsl(220, 98%, 61%);
$checkBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

//Light Theme Colors
$lightGray: hsl(0, 0%, 98%);
$ligthGrayishBlue: hsl(236, 33%, 92%);
$grayishBlue: hsl(233, 11%, 84%);
$darkGrayishBlue: hsl(236, 9%, 61%);
$veryDarkGrayishBlue: hsl(235, 19%, 35%);

//Dark Theme Colors
$darkBlue: hsl(235, 21%, 11%);
$darkDesaturatedBlue: hsl(235, 24%, 19%);
$darkGraishBlue: hsl(234, 11%, 52%);
$veryDarkGrayishBlue: hsl(233, 14%, 35%);
