@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
}

main {
  min-height: 100vh;
}

.bg-img-container {
  position: absolute;
  top: 0;
  height: 40%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.bg-img-container--light-theme {
  background-image: url("../images/bg-desktop-light.jpg");
}
.bg-img-container--dark-theme {
  background-image: url("../images/bg-desktop-dark.jpg");
}

header {
  max-width: 70rem;

  margin: 10rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0rem;

  .logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
    color: white;
  }
}
